
{% extends 'base.html' %}

{% block title_head %}
<title>Prueba</title>
{% endblock title_head %}

{% block h1_header %}
<h1>Nasheeei</h1>
{% endblock h1_header %}

{% block contenido %}
    <p>{{mensaje}}</p>
    {% if segundo_redondo %}
    <p style="color: red;">{{segundos}}</p>
    {% elif segundo_par %}
    <p style="color: rgb(21, 66, 85);">{{segundos}}</p>
    {% else %}
    <p style="color: rgb(60, 11, 208);">{{segundos}}</p>
    {% endif %}

    {% for numero in listado_de_numeros %}
    <p style="color: rgb(224, 253, 2);">{{numero}}</p>
    {%endfor%}
{% endblock contenido %}