<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🤮🤮🤮🤮🤮🤮🤮</title>
</head>
<body>
    <h1>Nasheeei</h1>
    <p>{{mensaje}}</p>
    {% if segundo_redondo %}
    <p style="color: red;">{{segundos}}</p>
    {% elif segundo_par %}
    <p style="color: rgb(21, 66, 85);">{{segundos}}</p>
    {% else %}
    <p style="color: rgb(60, 11, 208);">{{segundos}}</p>
    {% endif %}

    {% for numero in listado_de_numeros %}
    <p style="color: rgb(224, 253, 2);">{{numero}}</p>
    {%endfor%}



</body>
</html>